<div
  class="flex flex-col justify-between p-3 w-full h-screen overflow-auto scroll-smooth bg-gradient-to-br from-mma-core-background to-mma-core-background-variant">
  <div class="flex justify-center w-full">
    <app-introduction class="w-full"></app-introduction>
  </div>
  <div class="flex justify-center w-full mt-6">
    <app-summary class="w-full laptop:w-1/3 desktop:w-1/3"></app-summary>
  </div>
  <div class="flex justify-center w-full items-end mt-9 mobile:mt-0">
    <app-footer class="h-14"></app-footer>
  </div>
</div>
